@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;900&display=swap');

body {
    /* display: flex; */
    background-color: #10091F;
    margin: 0;
    color: aliceblue;
    font-family: "Roboto";
}

a {
    text-decoration: none;
    color: aliceblue;
}

p {
    font-weight: 100;
}

h1 {
    font-size: 48px;
    color: #AE92F6;
}

button {
    font-family: 'Roboto';
    font-weight: 00;
}

.header {
    display: flex;
    align-items: center;
    gap: 26px;
    padding: 10px 20px;
    margin-bottom: 20px;
}

.logo {
    font-size: 24px;
    font-weight: 900;
}

.hero {
    color: aliceblue;
    height: 400px;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

.hero-text {
    width: 450px;
    justify-content: center;
    margin-top: -30px;
}

.hero-img {
    background-color: beige;
    object-fit: cover;
    width: 400px;
    height: 250px;
    flex-shrink: 0;
    border: 1px solid white;
}

.menu {
    margin: 0;
    padding: 30px 10px;
    background-color: aliceblue;
    color: #1F2937;
    padding-bottom: 50px;
}

.menu-header {
    color: #10091F;
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    padding-bottom: 32px;
}

.menu-items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.menu-item {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.item-img {
    width: 150px;
    height: 150px;
    border: 2px solid white;
    object-fit: cover;
    border-radius: 15px;
    margin-bottom: 15px;
    box-shadow: 5px 5px 10px grey;
}

.nav {
    margin-left: auto;
    display: flex;
    gap: 26px;
}

.review {
    width: 100vw;
    height:400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    font-size: 32px;
    font-style: italic;
    font-weight: 100;
}

h4 {
    font-weight: 400;
    align-self: flex-end;
    padding-right: 100px;
}

.cta {
    display: flex;
    justify-content: center;
}

.cta-container {
    background-color: #6D8DEE;
    width: 90vw;
    display: flex;
    height: 100px;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    margin: 30px;
}

button {
    background-color: transparent;
    color: white;
    width: 120px;
    height: 40px;
    border: 2px solid white;
    border-radius: 5px;
    font-weight: 500;
}

button:hover {
    transition: 0.3s;
    background-color: white;
    color: #AE92F6;
}

.cta-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 15px
}

.cta-h {
    font-size: 18px;
    margin: 0px;
    padding: 0px;
}

.cta-p {
    margin: 0px;
    padding: 0px;
}

.footer {
    text-align: center;
    margin:20px;
}

a:hover {
    color: #AE92F6;
    transition: 0.3s;
}
